@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*{
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    font-family:'Josefin Sans', sans-serif;
    overflow-x: hidden;
    background-color:hsla(0, 36%, 70%, 0.116);
    font-size: 16px;
    text-align: center;
    color:hsl(0, 36%, 70%);
    
}
::placeholder{
    color:hsl(0, 36%, 70%);
    
}
::-webkit-input-placeholder {
    color:hsl(0, 36%, 70%);
    
}
 ::-moz-placeholder{
    color:hsl(0, 36%, 70%);
    
}

h1,h2,h3,h4,h5,h6{
    color: hsl(0, 6%, 24%);
    font-weight: 600;
    font-size: 43px;
    line-height: 45px;
    text-transform: uppercase;
    padding: 0.5em 0;
}
h1 span,h2 span,h3 span,h4 span,h5 span,h6 span{
    color:hsl(0, 36%, 70%);
    font-weight: 300;

}
.wrappen{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    


}
.container{
    width: 85%;
    margin: auto;
   
}
.one{
    padding: 1.3em 0;
    background-color: white;
    text-align: left;
    
       

}
.one .logo{
    width: 120px;
}

   
.three{
    padding-top: 2em;
    
}
.form{
    margin-top: 2em;


}
.btn{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 2.5;
    border-radius: 50px;
    transition: all 0.15s;
    min-width: 50px;
    cursor: pointer;

}
.btn.btn-primary{
    background: linear-gradient( 135deg,  hsl(0, 80%, 86%) 0%,  hsl(0, 74%, 74%) 100%);
    color: white;
    box-shadow: 0 0 0 0.2rem hsla(0, 80%, 86%, 0.452);
    
}
.btn.btn-primary:hover, .btn.btn-primary:focus{
    background: linear-gradient( 135deg,  hsl(0, 91%, 83%) 0%,  hsl(0, 77%, 68%) 100%);
    
    
    
}
.form-control{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    border-radius: 50px;
    font-size: 1rem;
    line-height: 2;
    color: hsl(0, 36%, 70%);
    background-color:hsla(0, 36%, 70%, 0.116); 
    border: 1px solid hsl(0, 36%, 70%);
    transition:  all 0.15s;
    
}
.form-control:focus{
    outline: 0;
    border-color:hsl(0, 36%, 70%) ;
    box-shadow: 0 0 0 0.2rem hsla(0, 80%, 86%, 0.452);
}

.form-group{
    position: relative;
    width: 100%;
}
.form-group .btn{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20%;
    
}
.form-group .form-control{
    padding-right: 4.3rem;
}
.error{
    display: none;
    color: red;
    padding-left: 10px;
}
.has-error .error{
    display: block;
}
.form-group .error{
    position: absolute;
    bottom: -30px;
    left: 0;
}
.form-group img.error{
    top: 25%;
    right: 25%;
    left: unset;


}

@media(min-width:767px){
    body{
        overflow-y: hidden;
        height: 100vh;
        width: 100vw;
        text-align: left;
        line-height: 1.5;
        background: url(./images/bg-pattern-desktop.svg);

    }
    .two img{
        width: 100%;
        height: 100vh;
        
    }
    .wrappen{
        display: grid;
        height: fit-content;
        grid-template-columns: 1fr 560px;
        grid-template-rows: 120px 1fr;
        height: 100%;
    
    
    
    }
    .one{
        grid-column: 1;
        grid-row: 1;
        background-color: initial;
        align-self: center;
        
        
    }
    .two{
        grid-column: span 2;
        grid-row: 1;
    }
    .three{
        grid-column: 1;
        grid-row: 2;
        margin-top: 0;


    }
    .container{
        width: 60%;
    }
    h1{
        letter-spacing: 1.3rem;
        line-height: 1.2;
    }
}
